<!doctype html>
<!-- Identify this as an Angular segment of code -->
<html lang="en" ng-app="AngularPDX">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.min.js"></script>
  <script src="app.js"></script>
</head>
<!-- Bind to a particular Angular controller - there can be many, and they can nest -->
<body ng-controller="ProductsCtrl">

  <!-- Basic Angular template syntax - objects inside brackets are evaluated -->
  <p>Nothing here {{'yet' + '!'}}</p>

  <!-- set via the controller -->
  <ul>
    <!-- ng-repeat iterates over collections -->
    <li ng-repeat="product in products">
      <span class="name">{{product.name}}</span> - 
      <!-- values can be piped into filters -->
      <span class="price">{{product.price| currency}}</span> - 
      <!-- filters can take arguments -->
      <span class="price">{{product.created_at| date:'longDate'}}</span>
    </li>
  </ul>

  <div class="under_10">
    <h1>Under $10</h1>
    <ul ng-repeat="product in products | between:0:10">
      <span class="name">{{product.name}}</span> - 
      <!-- values can be piped into filters -->
      <span class="price">{{product.price| currency}}</span> - 
      <!-- filters can take arguments -->
      <span class="price">{{product.created_at| date:'longDate'}}</span>
    </ul>
  </div>

  <div class="under_20">
    <h1>Under $20</h1>
    <ul ng-repeat="product in products | between:10:20">
      <span class="name">{{product.name}}</span> - 
      <!-- values can be piped into filters -->
      <span class="price">{{product.price| currency}}</span> - 
      <!-- filters can take arguments -->
      <span class="price">{{product.created_at| date:'longDate'}}</span>
    </ul>
  </div>

  <div class="under_50">
    <h1>Under $50</h1>
    <ul ng-repeat="product in products | between:20:50">
      <span class="name">{{product.name}}</span> - 
      <!-- values can be piped into filters -->
      <span class="price">{{product.price| currency}}</span> - 
      <!-- filters can take arguments -->
      <span class="price">{{product.created_at| date:'longDate'}}</span>
    </ul>
  </div>
</body>
</html>
