<!doctype html>
<!-- Identify this as an Angular segment of code -->
<html lang="en" ng-app="AngularPDX">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.min.js"></script>
  <script src="app.js"></script>
</head>
<!-- Bind to a particular Angular controller - there can be many, and they can nest -->
<body ng-controller="ProductsCtrl">

  <!-- Basic Angular template syntax - objects inside brackets are evaluated -->
  <p>Nothing here {{'yet' + '!'}}</p>

  <!-- set via the controller -->
  <ul>
    <!-- ng-repeat iterates over collections -->
    <li ng-repeat="product in products">
      <div product></div>
    </li>
  </ul>

  <div class="under_10">
    <h1>Under $10</h1>
    <ul>
      <li ng-repeat="product in products | between:0:10">
        <div product></div>
      </li>
    </ul>
  </div>

  <div class="under_20">
    <h1>Under $20</h1>
    <ul>
      <li ng-repeat="product in products | between:10:20">
        <div product></div>
      </li>
    </ul>
  </div>

  <div class="under_50">
    <h1>Under $50</h1>
    <ul>
      <li ng-repeat="product in products | between:20:50">
        <div product></div>
      </li>
    </ul>
  </div>

  <section class="add_product">
    <!-- Form to add product to collection -->
    <form action="#" ng-submit="addProduct(product)">
      <label>Name</label>
      <input type="text" ng-model="product.name" />
      <label>Price</label>
      <input type="text" ng-model="product.price" />
      <input type="submit" value="Add product" />
    </form>
  </section>
</body>
</html>
